$fa-font-path:   "/static/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import "../node_modules/bulma/bulma.sass";
@import '../node_modules/bulma-timeline/timeline.sass';

.has-text-prewrap{
  white-space: pre-wrap;
}

body:after{
  content: "alpha";
  position: absolute;
  width: 80px;
  height: 25px;
  background: #EE8E4A;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
.navbar-brand{
  margin-left:15px;
}

